<form action="/books/delete/<%=element.id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete book">
</form>

<input type="submit"  value="Update book" onclick="showBottom()" >
<form action="/books/update/<%= element.id %>?_method=PUT" method="POST"  id="show" style="display: none;">

    Title :
    <input type="text" name="title" value="<%= element.title   %>"> <br>
    Author :
    <input type="text" name="auther" value="<%= element.auther   %>"> <br>
    Isbn :
    <input type="text" name="isbn" value="<%= element.isbn   %>"> <br>
    image_url :
    <input type="text" name="img" value="<%= element.image_url   %>"> <br>
    
    Description :
    <input type="text" name="description" value="<%= element.description%>"><br>
    
    <input type="submit" value="edit"> 
</form>
