<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head.ejs') %>
    
    <body>
        <%- include('../../layout/header.ejs') %>
        <main id="show-page">
            <% searchResults.forEach(element => { %>
                <div id="bookItem">
                    <img src="<%= element.thumbnail %>" alt="" name="book">
                    <h2 name="book"><%= element.title   %></h2>
                    <h2><%= element.author   %></h2>
                    <p><%=  element.description %></p>
                    <form action="/books"  method="POST" >

                          <input type="hidden" value="<%= element.author%> , <%= element.title%> , <%= element.isbn%>  , <%= element.thumbnail %> , <%= element.description%>"  name="book">
                        <input type="submit" value="Add Book" id="add-book">
                  
                    </form>
                        
                        
                    </div>
                    <% }) %>
                    
                </main>
                
</body>
</html>